ssh_port: 22
batch_task_count: 10
heavy_task_timeout: 3600
batch_heavy_task_count: 8
session_expired_time: 21600
max_pending_jobs: 20
pass_citrix_pm: 0
cpu_range: '2,8'
memory_range: '2048,16384'
vnc_proxy_ip: ''
express_instance_class: '0'
usb3_bus: 'qemu-xhci'
enable_default_policy: 0

zone:
  qy_access_key_id: "RITZSTCUOYKMSUVIXSDB"
  qy_secret_access_key: "DH1EVjnPEU3udrc5NtEd1eS5ygTrqj66raZ6qD6R"
  host: "localhost"
  port: 7776
  protocol: 'http'
